* {
    margin:0;
    padding:0;
    border-collapse:collapse;
}

html, body {
	font-family: 'Trebushet MS',Verdana,Arial,sans-serif;
	font-size: 10pt;
}

body{
	padding:10px 30px 10px 30px;
}

table {
	margin-top:1em;
}

td, th {
	padding:0.3em;
	border: 1px solid black;
}

.noBor td{
	border: none;
}

.err{
	color:red;	
}

#rezDiv{
	font-size:200%;
	color:blue;	
}

#moduls {
	border: 1px solid blue;
}
